[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
seaborn = "*"
jupyterlab = "*"
jupyter = "*"
ipyleaflet = "*"
bqplot = "*"
fiona = "*"
cython = "*"
pyproj = {git = "https://github.com/jswhit/pyproj.git"}
folium = "*"
"pymc3" = "*"
click = "*"

[dev-packages]
